# Node modules
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Local environment files (si algún día los añades)
.env
.env.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
